<div class="row">
	<div class="col-12 col-md-3">
		<%= render partial: 'rooms' %>
	</div>
	<div class="col">
		<div class="alert alert-primary" style="margin-top: 10px;">
			<h4 class="alert-heading">
				Welcome to the ChatApp!
			</h4>
		</div>
	</div>
</div>